@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:700|Cabin:700|Raleway:400,400i&display=swap')

* {
  margin: 0;
  padding: 0;
}

body {
  background-color:#E0E5EC;
  color: #202C59;
  font-family: "Raleway";
}

h1 {
  font-family: "Cabin";
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-family: "Cabin";
}

h3 {
  font-family: "Raleway";
  font-weight: 400;
  font-style: italic;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.profile {
  width: 40%;
  min-width: 250px;
  margin-top: 40px;
  transition-duration: 500ms;
  margin: 0 auto;
}

.profile:hover {
  box-shadow: 0 0 16px #F17105;
  transition-duration: 500ms;
  border-radius: 50%;
  transform: scale(1.5);
}

.portfolio {
  text-align: left;
}

a {
  text-decoration: none;
  color: #202C59;
}

ul {
  padding: 0
}

ul li {
  font-size: 48px;
  display: inline-block;
  margin: 16px;
  transition-duration: 250ms;
}

ul li a:hover {
  color: #202C59;
  transition-duration: 250ms;
}

.content {
  width: 100%;
  display: inline-block;
  border-radius: 8px;
}

.content-image {
  width: 80%;
  box-shadow: 0px 0px 32px rgb(163,177,198,1);
  border-radius: 8px;

}

.content-image:hover {
  transition-duration: 500ms;
}

.content-images {
  display: inline-block;
  border-radius: 8px;
  padding: 0;
  margin: 32px;
  transition-duration: 500ms;
}

.content-images:hover {
  padding: 0;
  display: inline-block;
  transform: scale(1.1);
  transition-duration: 500ms;
}


.blue {
  background-color: #202C59;
}

.container {
  margin: 0 auto 24px auto;
  padding: 30px;
  padding-bottom: 60px;
  width: 60%;
  text-align: center;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.5), -9px -9px 16px rgba(255,255,255, 0.5);
  border-radius: 8px;
  transition-duration: 500ms;
}

.container:hover {
  box-shadow: 9px 9px 16px rgb(163,177,198,0.5), -9px -9px 16px rgba(255,255,255, 0.5), 0 0 32px #F17105;
  transform: scale(1.05);
}

.btn {
  margin: 10px auto 24px auto;
  padding: 10px;
  display: inline-block;
  text-align: center;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.5), -9px -9px 16px rgba(255,255,255, 0.5);
  border-radius: 8px;
  transition-duration: 250ms;
}


.btn:hover {
  box-shadow: inset 9px 9px 16px rgb(163,177,198,0.5), inset -9px -9px 16px rgba(255,255,255, 0.5);
  color: #F17105;
  transition-duration: 250ms;
}

.main {
  padding-bottom: 60px;
}

@media (max-width: 740px) {
  /* For a screen < 540px, this CSS will be read */
  ul li {
    display: block;
    list-style: none;
  }

  .content-images {
  display: block;
  width: 80%;
  margin: 20px auto;
  }

  .small {
    max-width: 100px;
  }
}

